In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'D:\Git_repo\Data-analysis-py\Numpy\students_messy_120k.csv')

In [3]:
df.dtypes
df.shape

(121440, 13)

In [4]:
# YearsCode to numerical
df['YearsCode'].unique()

array(['7', '19', '18', '6', '20', '3', '0', '11', '17', '4', '2', '14',
       '1', '13', '5', '12', 'Less than 1 year', nan, '16', '15', 'five',
       '9', '8', '10', 'More than 50 years'], dtype=object)

In [5]:
df['YearsCode'].replace({'Less than 1 year': '0', 'More than 50 years': '53', 'five': '5'}, inplace=True)

In [6]:
df['YearsCode'] = pd.to_numeric(df['YearsCode'], errors='coerce')

In [7]:
df.dtypes

StudentID          int64
Name              object
Gender            object
Age              float64
ClassLevel        object
Country           object
YearsCode        float64
MathScore        float64
EnglishScore     float64
AttendancePct    float64
Date              object
Email             object
Phone             object
dtype: object

In [8]:
df['ClassLevel'].unique()

array(['SS3', 'JSS1', 'ss1', 'SS1', 'JSS3', 'SS-3', 'JSS2', 'SS2',
       'Jss2 ', nan], dtype=object)

In [9]:
# ClassLevel
df['ClassLevel'] = df['ClassLevel'].replace({'SS-3': "SS3"}).str.strip().str.upper().astype("string")

In [10]:
df['ClassLevel'].dtypes

string[python]

In [11]:
# country 
df['Country'] = df['Country'].astype('string').str.strip().str.title()

In [12]:
df['Gender'].unique()

array([nan, 'Male', 'Female', 'F', 'M', 'female ', ' MALE'], dtype=object)

In [13]:
#  gender, convert all to upper and replace 
df['Gender'] = df['Gender'].astype('string').str.strip().str.upper().replace({'MALE': 'M', 'FEMALE': 'F', '': pd.NA})

In [14]:
df

,StudentID,Name,Gender,Age,ClassLevel,Country,YearsCode,MathScore,EnglishScore,AttendancePct,Date,Email,Phone
0,115082,Fatima Yusuf,<NA>,16.0,SS3,Usa,7.0,65.626682,54.496385,85.431744,2021-05-05 06:00:00,fatima.yusuf1654@school.edu,07050937730
1,86795,Ada Ogundare,M,17.0,JSS1,Uk,19.0,77.155976,72.050062,76.258290,22/08/2021 03:00 AM,ada.ogundare1907@school.edu,08484889590
2,49227,Efe Olatunji,F,11.0,SS1,Nigeria,18.0,58.209347,34.195495,75.713418,2021-07-08 03:00:00,efe.olatunji2306@school.edu,09828475957
3,16514,David Okafor,F,17.0,JSS1,Kenya,6.0,73.535636,36.179483,73.963726,not_a_date,david.okafor8059@mail.com,07264516767
4,119749,Bola Nwosu,F,11.0,SS1,Nigeria,19.0,64.700315,55.731320,91.081188,2020-10-15 14:00:00,bola.nwosu3192@example.com,07726106960
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121435,110269,Tunde Ibrahim,M,18.0,SS1,Nigeria,18.0,51.119037,59.892648,71.398639,2020-03-15 11:00:00,tunde.ibrahim3547@gmail.com,07320733385
121436,119880,Seun Ogunleye,M,17.0,<NA>,Uk,12.0,60.777323,70.934774,77.273326,2021-06-13 06:00:00,seun.ogunleye7169@gmail.com,08666322948
121437,103695,Ngozi Bello,F,18.0,JSS1,South Africa,10.0,68.527119,52.373922,72.804697,2020-10-29 03:00:00,ngozi.bello5001@school.edu,07879678058
121438,861,Amina Olatunji,M,12.0,JSS2,Nigeria,3.0,59.836893,59.117041,76.311039,16/07/2019 11:00 PM,amina.olatunji5161@school.edu,08802892430
121439,15796,Tunde Adebayo,M,15.0,JSS2,Uk,1.0,50.117546,76.012221,88.741828,25/07/2021 03:00 PM,tunde.adebayo7287@mail.com,09490231820

In [15]:
df['Date'].unique()

array(['2021-05-05 06:00:00', '22/08/2021 03:00 AM',
       '2021-07-08 03:00:00', ..., '23/01/2019 03:00 AM',
       '2019-03-11 02:00:00', '25/07/2021 03:00 PM'],
      shape=(40306,), dtype=object)

In [16]:
# Date 
 
d1 = pd.to_datetime(df['Date'], errors='coerce')
d3 = pd.to_datetime(df['Date'], format='%d/%m/%Y %I:%M %p', errors='coerce')
df['Date'] = d1.fillna(d3)

In [17]:
df['Date']

0        2021-05-05 06:00:00
1        2021-08-22 03:00:00
2        2021-07-08 03:00:00
3                        NaT
4        2020-10-15 14:00:00
                 ...
121435   2020-03-15 11:00:00
121436   2021-06-13 06:00:00
121437   2020-10-29 03:00:00
121438   2019-07-16 23:00:00
121439   2021-07-25 15:00:00
Name: Date, Length: 121440, dtype: datetime64[ns]

In [18]:
df['MathScore'].unique()

array([65.6266817 , 77.15597607, 58.20934745, ..., 68.527119  ,
       59.83689348, 50.11754567], shape=(119044,))

In [19]:
# clip MathScore, EnglishScore scores to 0–100 and fill missing with column mean
# remove negative scores and scores higher than 100
for mateng in ['MathScore', 'EnglishScore']:
    df[mateng] = pd.to_numeric(df[mateng], errors='coerce')
    df[mateng] = df[mateng].clip(0, 100)
    df[mateng] = df[mateng].fillna(df[mateng].mean())

In [20]:
# Fix Age
# Take out negative ages and ages thats seems too high manually
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df.loc[(df['Age'] < 10) | (df['Age'] > 22), 'Age'] = np.nan
df['Age'] = df['Age'].fillna(df['Age'].median())

In [ ]:
# AttendancePct clip it to 0, 100
# sort out attendent for missing values
df['AttendancePct'] = (pd.to_numeric(df['AttendancePct'], errors='coerce')).clip(0, 100)
df['AttendancePct'] = df['AttendancePct'].fillna(df['AttendancePct'].mean())

In [22]:
df = df.drop_duplicates()

In [23]:
df

,StudentID,Name,Gender,Age,ClassLevel,Country,YearsCode,MathScore,EnglishScore,AttendancePct,Date,Email,Phone
0,115082,Fatima Yusuf,<NA>,16.0,SS3,Usa,7.0,65.626682,54.496385,85.431744,2021-05-05 06:00:00,fatima.yusuf1654@school.edu,07050937730
1,86795,Ada Ogundare,M,17.0,JSS1,Uk,19.0,77.155976,72.050062,76.258290,2021-08-22 03:00:00,ada.ogundare1907@school.edu,08484889590
2,49227,Efe Olatunji,F,11.0,SS1,Nigeria,18.0,58.209347,34.195495,75.713418,2021-07-08 03:00:00,efe.olatunji2306@school.edu,09828475957
3,16514,David Okafor,F,17.0,JSS1,Kenya,6.0,73.535636,36.179483,73.963726,NaT,david.okafor8059@mail.com,07264516767
4,119749,Bola Nwosu,F,11.0,SS1,Nigeria,19.0,64.700315,55.731320,91.081188,2020-10-15 14:00:00,bola.nwosu3192@example.com,07726106960
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121435,110269,Tunde Ibrahim,M,18.0,SS1,Nigeria,18.0,51.119037,59.892648,71.398639,2020-03-15 11:00:00,tunde.ibrahim3547@gmail.com,07320733385
121436,119880,Seun Ogunleye,M,17.0,<NA>,Uk,12.0,60.777323,70.934774,77.273326,2021-06-13 06:00:00,seun.ogunleye7169@gmail.com,08666322948
121437,103695,Ngozi Bello,F,18.0,JSS1,South Africa,10.0,68.527119,52.373922,72.804697,2020-10-29 03:00:00,ngozi.bello5001@school.edu,07879678058
121438,861,Amina Olatunji,M,12.0,JSS2,Nigeria,3.0,59.836893,59.117041,76.311039,2019-07-16 23:00:00,amina.olatunji5161@school.edu,08802892430
121439,15796,Tunde Adebayo,M,15.0,JSS2,Uk,1.0,50.117546,76.012221,88.741828,2021-07-25 15:00:00,tunde.adebayo7287@mail.com,09490231820

In [27]:
df.to_csv('students_cleaned.csv', index=False, encoding='utf-8-sig')

In [38]:
# Weekly resample summary
# # Keep only rows with valid dates
dp_date = df.dropna(subset=['Date'])
dp_date = dp_date.set_index('Date').sort_index()

In [40]:
dp_date.head()

,StudentID,Name,Gender,Age,ClassLevel,Country,YearsCode,MathScore,EnglishScore,AttendancePct,Email,Phone
Date,,,,,,,,,,,,
2019-01-01 00:00:00,76079,Tunde Adebayo,F,14.0,SS2,Kenya,13.0,52.057769,63.008653,90.923171,tunde.adebayo2082@mail.com,07672149222
2019-01-01 01:00:00,79476,Ada Yusuf,<NA>,12.0,<NA>,Nigeria,16.0,67.508409,76.296126,91.638806,ada.yusuf3328@mail.com,07475409232
2019-01-01 01:00:00,88726,Dayo Ogunleye,M,15.0,SS1,Nigeria,10.0,40.402369,73.732698,73.720969,dayo.ogunleye3754@mail.com,08645579184
2019-01-01 01:00:00,55418,Tunde Nwosu,F,10.0,SS2,Kenya,6.0,47.494589,54.095390,74.624187,tunde.nwosu7058@mail.com,07490890607
2019-01-01 01:00:00,6301,Ada Eke,F,19.0,SS1,Canada,12.0,56.260008,50.038215,93.587944,ada.eke2218@mail.com,08103530907

In [44]:
# Weekly mean
weekly = dp_date.resample('W').agg({'MathScore': 'mean', 'EnglishScore': 'mean', 'AttendancePct': 'mean', 'Age': 'mean', 'YearsCode': 'mean', 'StudentID': 'count'})

In [45]:
weekly = weekly.rename(columns={'StudentID': 'RowsInWeek'})

In [46]:
weekly

,MathScore,EnglishScore,AttendancePct,Age,YearsCode,RowsInWeek
Date,,,,,,
2019-01-06,63.155984,57.043980,81.522664,14.200772,10.431373,518
2019-01-13,62.264128,57.830362,81.819358,14.500000,10.140381,580
2019-01-20,60.920637,57.967926,82.579789,14.585000,10.147899,600
2019-01-27,61.582827,58.556430,81.370624,14.564570,9.951586,604
2019-02-03,62.318420,57.673659,81.021109,14.390741,10.280899,540
...,...,...,...,...,...,...
2021-12-05,60.877530,57.819801,81.491887,14.599354,9.991830,619
2021-12-12,62.377322,58.095157,81.585401,14.629752,10.250000,605
2021-12-19,62.175023,57.655114,81.386405,14.538721,9.806452,594
2021-12-26,61.539828,57.714333,81.637022,14.427549,10.714286,559
2022-01-02,62.910592,57.782543,81.892555,14.445070,10.014205,355

In [48]:
weekly.to_csv('CLEAN_WEEKLY.csv', index=True, encoding="utf-8-sig")

In [49]:
df.loc[0, 'Date'].day_name()

'Wednesday'

In [50]:
filt = df['Country'].str.startswith('U', na=False)

In [51]:
df.loc[filt]

,StudentID,Name,Gender,Age,ClassLevel,Country,YearsCode,MathScore,EnglishScore,AttendancePct,Date,Email,Phone
0,115082,Fatima Yusuf,<NA>,16.0,SS3,Usa,7.0,65.626682,54.496385,85.431744,2021-05-05 06:00:00,fatima.yusuf1654@school.edu,07050937730
1,86795,Ada Ogundare,M,17.0,JSS1,Uk,19.0,77.155976,72.050062,76.258290,2021-08-22 03:00:00,ada.ogundare1907@school.edu,08484889590
5,84130,Bola Bello,F,15.0,JSS3,Uk,20.0,63.503855,59.935877,73.206251,NaT,bola.bello9726@gmail.com,08920161874
9,71435,Bola Bello,F,16.0,SS2,Uk,11.0,43.135775,73.230221,73.487579,2020-02-14 10:00:00,bola.bello7638@gmail.com,07357266742
13,57270,Seyi Ajayi,M,12.0,SS1,Usa,2.0,76.916551,40.721315,100.000000,2021-03-28 23:00:00,seyi.ajayi3724@gmail.com,08420450766
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121424,41091,Seun Adebayo,F,17.0,SS2,Uk,NaN,59.651242,68.412338,59.152419,2020-04-25 01:00:00,seun.adebayo978@gmail.com,07874621890
121425,16024,Dayo Ajayi,F,13.0,JSS2,Uk,20.0,78.146877,86.900536,79.391706,2021-07-17 23:00:00,dayo.ajayi5468@school.edu,08412450093
121433,54887,Seun Ogundare,F,15.0,SS3,Uk,12.0,62.841406,58.762678,66.043024,2020-06-19 04:00:00,seun.ogundare1056@gmail.com,07783027032
121436,119880,Seun Ogunleye,M,17.0,<NA>,Uk,12.0,60.777323,70.934774,77.273326,2021-06-13 06:00:00,seun.ogunleye7169@gmail.com,08666322948
121439,15796,Tunde Adebayo,M,15.0,JSS2,Uk,1.0,50.117546,76.012221,88.741828,2021-07-25 15:00:00,tunde.adebayo7287@mail.com,09490231820

In [52]:
grop = df.groupby('Country')

In [ ]:
grop.get_group('Uk').max()

In [62]:
df.nlargest(10, 'MathScore')

,StudentID,Name,Gender,Age,ClassLevel,Country,YearsCode,MathScore,EnglishScore,AttendancePct,Date,Email,Phone
17,106313,Bola Ogundare,F,19.0,JSS2,Uk,3.0,100.0,56.719265,74.248639,2019-10-20 05:00:00,bola.ogundare281@school.edu,08845360661
156,55792,Efe Ogundare,F,11.0,JSS2,Canada,8.0,100.0,63.559179,90.382355,2020-02-28 09:00:00,efe.ogundare6645@gmail.com,08760370309
206,115393,Ngozi Ibrahim,M,15.0,SS1,Usa,19.0,100.0,64.306932,100.000000,2021-10-25 00:00:00,ngozi.ibrahim5325@mail.com,08359324314
269,594,David Ogunleye,M,10.0,SS3,Canada,15.0,100.0,56.893363,90.041903,2019-10-22 11:00:00,david.ogunleye1041@example.com,09680949240
283,74155,David Ogundare,F,14.0,SS2,Usa,7.0,100.0,79.914245,80.202642,2021-03-05 09:00:00,david.ogundare4607@gmail.com,08961835941
453,87812,Dayo Eke,<NA>,15.0,SS3,Nigeria,8.0,100.0,58.476495,79.228227,2020-08-02 11:00:00,dayo.eke4708@example.com,09243686926
536,87826,Yusuf Bello,M,10.0,SS2,South Africa,2.0,100.0,61.237684,71.299262,2020-10-17 18:00:00,yusuf.bello6436@gmail.com,09344998346
626,104651,Dayo Bello,F,17.0,<NA>,Ghana,19.0,100.0,43.341015,82.903943,2021-07-02 12:00:00,dayo.bello3246@gmail.com,07663043753
1089,14087,Bola Kennedy,M,12.0,JSS1,Nigeria,8.0,100.0,36.315485,89.859873,NaT,bola.kennedy1668@example.com,08480378635
1268,90782,Seyi Bello,M,16.0,SS3,Nigeria,5.0,100.0,69.134565,68.407108,2019-05-08 18:00:00,seyi.bello984@mail.com,08867542152

In [69]:
grop['ClassLevel'].value_counts()

Country       ClassLevel
Canada        JSS2          2342
              SS1           2334
              SS3           2268
              JSS3          1716
              JSS1          1715
              SS2           1641
Egypt         SS1           1523
              JSS2          1465
              SS3           1404
              SS2           1149
              JSS1          1126
              JSS3          1110
Ghana         JSS2          1796
              SS1           1743
              SS3           1714
              JSS1          1306
              SS2           1290
              JSS3          1185
Kenya         JSS2          1777
              SS1           1749
              SS3           1656
              SS2           1285
              JSS1          1265
              JSS3          1244
Nigeria       JSS2          5857
              SS1           5716
              SS3           5416
              JSS3          4315
              JSS1          4198
              SS2           4184
South Africa  SS1           1791
              JSS2          1778
              SS3           1685
              JSS3          1292
              SS2           1281
              JSS1          1251
Uk            JSS2          3070
              SS1           3012
              SS3           2801
              SS2           2226
              JSS1          2147
              JSS3          2053
Usa           JSS2          3197
              SS1           3170
              SS3           3074
              JSS1          2364
              JSS3          2304
              SS2           2253
Name: count, dtype: int64

In [ ]:
country_u_ss2 = grop['ClassLevel'].apply(lambda x: x.str.contains('SS2').sum())
country_u_ss2

Country
Canada           3983
Egypt            2614
Ghana            3086
Kenya            3062
Nigeria         10041
South Africa     3059
Uk               5296
Usa              5450
Name: ClassLevel, dtype: int64